/**

 * @name Spartan-Linux-BD
 * @version 1.0
 * @description Mod of Dark Discord
 * @source https://github.com/hormelcookies/dark-discord

**/

@import url(https://raw.githack.com/hormelcookies/dark-discord/hormelcookies-patch-1/src/source.css);

.theme-dark,
.theme-light,
:root {
   --background-primary: #1E2030 !important;
   --background-secondary: #1C1D2A !important;
   --background-secondary-alt: #292929 !important;
   --background-tertiary: #1c1d2a !important;
   --background-accent: #1c1d2a !important;
   --background-floating: #1c1d2a !important;
   --background-modifier-hover: rgba(81, 84, 114, 0.1) !important;
   --background-modifier-active: rgba(81, 84, 114, 0.3) !important;
   --background-modifier-selected: rgba(81, 84, 114, 0.3) !important;
   --background-modifier-accent: hsla(0, 0%, 0%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
   --deprecated-text-input-border: var(--background-floating) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #c5cbff !important;
   --text-muted: #7a83cc !important;
   --text-normal: #d8dcff !important;
   --interactive-normal: #c5cbff !important;
   --interactive-hover: #d8dcff !important;
   --interactive-active: #d8dcff !important;
   --interactive-muted: #7a83cc !important;
   --header-primary: #d8dcff !important;
   --header-secondary: #c5cbff !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
   --chat-Font-Size: 14px;
}

   ::placeholder, body, button, input, select, textarea {
     font-family: 'Iosevka' ;
}

 /*  --chat-Font-Used: 'Iosevka', monospace;
   --chat-Font-Size: 16px;
}

:not([class="hljs"]):not(code){
font-family: var(--Chat-Font-Used)!important;
}

.markup:not(code) {
font-size: var(--Chat-Font-Size)!important;
}
*/
